ul {
  list-style: none;
  margin: 30px; /* 메뉴와 화면의 여백을 조정합니다 */
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

li {
  width: 20%; /* 메뉴 아이템의 너비를 조정합니다 */
  height: 60px; /* 메뉴 아이템의 높이를 조정합니다 */
  padding: 10px 15px; /* 메뉴 텍스트의 여백을 조정합니다 */
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: #555;
}
